*.csv
*.xls
*.json
*.xlsx
*.html
*.tsv
2.RNN/dataset_pickle_tuple_type

관서별_5대범죄_발생_및_검거_현황_2000_2016_.zip
09. stormtrooper_mask.png
09. heart.jpg
09. alice_mask.png
09. alice.txt
09. a_new_hope.txt
07. stormtrooper_mask.png
07. alice_mask.png
07. alice.txt
07. a_new_hope.txt
180904-consulate-library-test-checkpoint.ipynb
4.RNN/dataset_pickle_tuple_type
link_aws_key.cpython-36.pyc
3.coin/dataset
5.RNN/dataset_pickle_tuple_type
5.RNN/evaluate_result
